body {
  background-color: rgb(0, 0, 0);
}

.header {
  color: #ffffff;
  text-align: center;
  font-size: 5rem;
  padding: 13%;

  /* background header */
  background: radial-gradient(#051ca3, #4f0496, #4f0496);
  border-radius: 6px;
  height: 120px;
}
